In [1]:
# Python -> Just In Time Compilation (both interpretation and compilation)

In [4]:
# bin(132)
# hex(120)

'0x78'

In [6]:
# print('Welcome to Intellipaat....')
# print(10 + 5)

15

In [10]:
# variable
num = 10
print(num, id(num)) # id -> address
num = 20
print(num, id(num))

10 4306904256
20 4306904576

In [ ]:
# c, c++, java -> static programming langs
# int num = 10
# num = 'vasanth' # error

In [12]:
# dynamic programming language
num = 10
print(num, id(num))
num = 'vasanth'
print(num, id(num))

10 4306904256
vasanth 4376734000

In [19]:
# datatypes
num = 10
print(num, type(num)) # -> int => 4 bytes
num = 10.56
print(num, type(num)) # float -> 8 bytes
num = 'vasanth'
print(num, type(num)) # str -> 1 char -> 1 byte
num = True # False
print(num, type(num)) # bool -> 1 byte
num = 2j + 3
print(num, type(num))

10 <class 'int'>
10.56 <class 'float'>
vasanth <class 'str'>
True <class 'bool'>
(3+2j) <class 'complex'>

In [31]:
# Python -> memory efficient
num1 = 10
print(num1, id(num1))
num2 = 3 + 7
print(num2, id(num2))
num3 = 5 + 5
print(num3, id(num3))
num4 = 4 + 6
print(num4, id(num4))

# num2 = 50
# print(num2, id(num2))

10 4306904256
10 4306904256
10 4306904256
10 4306904256

In [30]:
#  -5 to 256 -> interning

# num1 = 257
# print(num1, id(num1))
# num2 = 257
# print(num2, id(num2))

num1 = -6
print(num1, id(num1))
num2 = -6
print(num2, id(num2))

-6 4376579760
-6 4376577456

In [42]:
# explicit interning

import sys # system

fname = sys.intern('vasanth kumars') # variable syntax -> reuse the same memory
print(fname, id(fname))
lname = sys.intern('vasanth kumar')
print(lname, id(lname))

vasanth kumars 4377862000
vasanth kumar 4377861424

In [50]:
# Operators and Operands

# a = 10 + 5
# a, 10, 5 -> operands
# +, = -> operators

# Arithmetic operators -> +, -, *, /, //, %, **
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3) # float
print(10 // 3) # double or floor division
print(10 % 3) # modulo -> remainder
print(10 ** 3) # exponetial -> 10 ^ 3

13
7
30
3.3333333333333335
3
1
1000

In [51]:
print(13 % 3) # 1
print(-13 % 3) # exptected is -1 but we got 2

1
2

In [65]:
# num = (div * quo) + rem
# 13 = (3 * 4) + 1
# -13 = (3 * -4) + (-1) # expected
# -13 = (3 * -5) + (2)

In [64]:
import math

# print(math.floor(4.33333333))
# print(math.ceil(4.33333333))
# print(math.floor(4.9999999999999999)) # 15 decimal pts
# print(math.ceil(4.0000000000000001))

# print(-13 / 3) # -4.3333333
# print(math.floor(-4.33333333))
# print(math.ceil(-4.33333333))

# print(-13 // 3) # quotient

-5

In [ ]:
# Assignment operator, =
# a = 10

# a = 10
# a += 5 # same as ->  a = a + 5
# a -= 5
# a *= 5
# a /= 5
# a //= 5
# a %= 5
# a **= 5

In [95]:
# comparison operators are >, <, <=, >=, == , != -> Boolean
# print(10 > 5)
# print(10 < 5)
# print(10 >= 5)
# print(10 <= 5)
# print(10 == 5)
# print(10 != 5)

# bool with int
# True -> 1, False -> 0
# print(True > 5) # 1 > 5
# print(10 + True - 5)
# print(10 - False)

# str with int
# print('vasi' > 5) # TypeError

# str with str
# print("vasi" > "kumar")
# print("Vasi" > "kumar")

# print('vasa' > 'vasi')

True

In [87]:
# typecasting
# num = 10
# print(num, type(num))
# num = str(num)
# print(num, type(num))
# num = float(num)
# print(num, type(num))

num = bool(-10.5) # integers except 0 -> True
print(num, type(num))

num = bool(0) # 0 -> False
print(num, type(num))

True <class 'bool'>
False <class 'bool'>

In [115]:
# logical operator -> and, or, not
# and => both are True
# or -> any one is True 
# not -> True to False or vice versa

# age = 17
# voter_id = False
# # print(voter_id == True and age >= 18)
# # print(voter_id == True or age >= 18)
# print(not(10 > 5))

# short circuiting
# if(10 > 15 and print('vasanth')):
#     print('if')
# else:
#     print('else')


# if(10 > 5 or print('vasanth')):
#     print('if')
# else:
#     print('else')


# age = 100
# is_eligible = (age > 18) and False and 'vasanth'
# print(is_eligible)

False

In [121]:
# identity operators (compares address) -> is
num1 = 1000
num2 = 1000
print(id(num1), id(num2))
# print(num1 is num2, num1 == num2)
print(num1 is not num2)

4414993840 4414990672
True

In [128]:
# membership operators -> in
news = 'India will win the world cup 2024'
# print("India" in news)
# print("india" in news) # case sensitive
print('australia' not in news)

True

In [137]:
# print
# print('vasanth', end=' ')
# print('kumar')

# print("vasanth", "kumar", "vinayagam", sep='*')

vasanth*kumar*vinayagam

In [143]:
# print(10 * 3)
# print('vasi' * 2)
# print('vasi' / 2)