In [1]:
# Loops -> do the same task until a condition is breaking

In [7]:
# range(start, end+1, step=1)

# list(range(1, 10)) # 1 to 9
# list(range(5)) # end value and start = 0
# list(range(0, 10, 2))

# list(range(0, 10, -1))
# list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
# Loops -> for loop, while loop
# iterables -> any data which can be looped
# eg: string, list, tuple, set, dictionary

# for loop -> definite loop
# 1 to 10

# for num in range(1, 11):
#     print(num)

# 10 to 1
# for num in range(10, 0, -1):
#     print(num)

In [20]:
# name = 'VASANTH'
# for char in name:
#     print(char)

# nums = [10, 20, 30, True, 10.5, 789, 87]
# nums = (10, 20, 30, True, 10.5, 789, 87)
# nums = {10, 20, 30, True, 10.5, 789, 87} # order will be collapsed

# for num in nums:
#     print(num)


# remove duplicates
nums = [1, 2, 3, 3, 2]
print(list(set(nums)))

[1, 2, 3]

In [26]:
# CONTINUE
# # print 1 to 10 except 5
# for i in range(1, 11):
#     print(f'i - {i}')
#     if i == 5:
#         continue
#     print(i)

# BREAK
# print 1 to 10 and stop at 5
# for i in range(1, 11):
#     print(f'i - {i}')
#     if i == 5:
#         break
#     print(i)

In [38]:
# dictionary
person = {
    "name": "Rajini",
    "age": 72,
    "place": "chennai"
}

# for key in person: # keys
#     print(key, person.get(key))

# keys = []
# values = []
# for key in person:
#     keys.append(key)
#     values.append(person.get(key))
# print(keys, values)

# keys list
print(list(person.keys()))

# values list
print(list(person.values()))

# # items list
print(list(person.items()))

['name', 'age', 'place']
['Rajini', 72, 'chennai']
[('name', 'Rajini'), ('age', 72), ('place', 'chennai')]

In [46]:
# unpacking -> LHS == RHS
# a, b = [10, 20]
# a, b = (10, 20)
# a, b = {10, 20}
print(a)
print(b)

10
20

In [49]:
person = {
    "name": "Rajini",
    "age": 72,
    "place": "chennai"
}

for key, value in person.items():
    print(key, value)

name Rajini
age 72
place chennai

In [55]:
keys = ['name', 'age', 'place']
values = ['Rajini', 72, 'chennai']

person = {}

# create a dict
for i in range(len(keys)):
#     print(keys[i], values[i])
    person[keys[i]] = values[i]
    
print(person)

{'name': 'Rajini', 'age': 72, 'place': 'chennai'}

In [69]:
keys = ['name', 'age', 'place']
values = ['Rajini', 72, "chennai"]

person = {}

# create a dict
for i in range(len(keys)):
    person[keys[i]] = values[i]

# print(list(zip(keys, values)))

# for key, value in zip(keys, values):
#     person[key] = value
    
# person = dict(zip(keys, values))
print(person)

{'name': 'Rajini', 'age': 72, 'place': 'chennai'}

In [62]:
# zip
a = ['name', 'age', 'place']
b = ['vasi', 10, 'chennai']
c = [1]

print(list(zip(a, b, c)))

[('name', 'vasi', 1)]

In [75]:
# greatest and smallest of given nums
nums = [10, 56, 16, 29, 450]
# print(max(nums))

maximum = nums[0]
minimum = nums[0]

for i in range(1, len(nums)):
    if(nums[i] > maximum):
        maximum = nums[i]
        
    if(nums[i] < minimum):
        minimum = nums[i]
        
print(maximum, minimum)

450 10

In [78]:
# 2d format

num = 3

for i in range(1, num+1):
    for j in range(1, num+1):
        print(f'{i}{j}', end=" ")
    print()

11 12 13
21 22 23
31 32 33

In [92]:
# ***
# ***
# ***

num = 5
count = 0

# for i in range(1, num+1):
#     for j in range(1, num+1):
#         print('*', end="")
#         count += 1
#     print()

for i in range(1, num+1):
    print('*' * num)
    count += 1
    
print(count)

*****
*****
*****
*****
*****
5

In [94]:
# *
# **
# ***
# ****
# *****

# num = 5
# for i in range(1, num+1):
#     print('*' * i)

*
**
***
****
*****

In [95]:
# *****
# ****
# ***
# **
# *

# num = 5
# for i in range(num, 0, -1):
#     print('*' * i)

*****
****
***
**
*

In [98]:
#     *
#    **
#   ***
#  ****
# *****

num = 5
for i in range(1, num+1):
    print(' ' * (num-i), '*' * i)

     *
    **
   ***
  ****
 *****

In [102]:
# 1 2 3 4 5
# 6 7 8 9 10

# num = 50
# for i in range(1, num+1):
#     print(i, end = " ")
#     if(i % 5 == 0):
#         print()

In [105]:
# while loop -> indefinite loop

# 1 to 10
# num = 1

# while(num <= 10):
#     print(num)
#     num += 1

In [107]:
# terminal

while True:
    command = input('C:Desktop~ ')
    
    if(command == 'add'):
        print('adding...')
    elif(command == 'sub'):
        print('subtracting...')
    elif(command == 'exit'):
        print('quitting... tata bye bye...')
        break
    else:
        print('command not found. Please try again')

C:Desktop~ add
adding...
C:Desktop~ sub
subtracting...
C:Desktop~ ndasndkna
command not found. Please try again
C:Desktop~ exit
quitting... tata bye bye...

In [111]:
# factorial -> 5! = 1 * 2 * 3 * 4 * 5 = 120

num = 5
factorial = 1

for i in range(2, num+1):
    factorial = factorial * i
print(factorial)

# ...lines of code

num = 7
factorial = 1

for i in range(2, num+1):
    factorial = factorial * i
print(factorial)

120
5040

In [118]:
# variables, class -> Nouns
# function -> action verbs

def get_factorial(num):
    factorial = 1
    for i in range(2, num+1):
        factorial = factorial * i
#     print(factorial)
    return factorial

# need to make a function call or invoke a function

result = get_factorial(5)
print(result)
# get_factorial(7)

120

In [5]:
names = ['sam', 'ram', 'rom']
# result = names.pop(1)
# result = names.append('vasi')
# result = names.sort()
result = names.pop()
print(names, result)

['sam', 'ram'] rom

In [15]:
# default args

def get_sum(num1 = 0, num2 = 0):
    return num1 + num2

# print(get_sum(10, 20))
# print(get_sum(10))
# print(get_sum())
# print(get_sum(10, 20, 30))

In [22]:
# *arguments -> *args

def get_sum(name, *nums):
#     print(nums) # tuple
    print(name)
    total = 0
    for num in nums:
        total += num
    return total
    
print(get_sum('vasi', 10, 20))
# print(get_sum(10))
# print(get_sum())
# print(get_sum(10, 20, 30))

vasi
30

In [29]:
def welcome(name = 'Guest', roll_no = -1):
    return f'Welcome to Intellipaat {name}. Your id is {roll_no}'

# print(welcome('virat', 18))
# print(welcome('virat'))
# print(welcome())

# keyword arguments
# print(welcome(roll_no = 18, name = 'virat'))
print(welcome(roll_no = 18, name = 'virat', place = 'chennai'))

TypeError: welcome() got an unexpected keyword argument 'place'

In [36]:
# **kwargs -> **keyword arguments

def welcome(**data):
#     print(data)
    return f"Welcome to Intellipaat {data.get('name')}. Your id is {data.get('roll_no')}"

# print(welcome(roll_no = 18, name = 'virat', place = 'chennai'))
# print(welcome('virat', 18)) # throws TypeError

Welcome to Intellipaat None. Your id is None

In [37]:
# modules 

def get_sum(n1, n2):
    return n1 + n2

get_sum(10, 20)

30

In [42]:
import arithmetic as a

print(arithmetic.get_sub(20, 10))
print(arithmetic.get_mul(20, 10))
print(a.get_sub(30, 20))

10
200
10

In [44]:
# from arithmetic import get_rem

# print(get_rem(5, 3))


# from maths.arithmetic import get_rem
# print(get_rem(5, 3))

# from maths.algebra.eqts.arithmetic import get_rem

In [47]:
import math # in-built methods
math.factorial(5)

120

In [51]:
# nums = [10, 2, 8, 19, 13]
# print(max(nums), min(nums), sum(nums))

19 2 52

In [54]:
# lambda -> 1 line functions

# def is_even(num):
#     return num % 2 == 0

# is_even = lambda num: (num%2 == 0)

# print(is_even(5))
# print(is_even(6))

False
True

In [56]:
nums = [1, 2, 3, 4, 5]
factor = 3

new_num = lambda num, factor: num * factor

# for num in nums:
#     print(new_num(num, factor))

3
6
9
12
15

In [59]:
nums = [1, 2, 3, 4, 5]
factor = 3

new_nums = lambda nums, factor: [num * factor for num in nums]
print(new_nums(nums, factor))

[3, 6, 9, 12, 15]

In [64]:
nums = list(range(1, 51))

# even_nums = [num for num in nums if num % 2 == 0]

even_nums = []
for num in nums:
    if(num % 2 == 0):
        even_nums.append(num)

print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]