In [70]:
# COLLECTIONS -> List, Tuple, Set, Dictionary

# List -> [], duplicates are allowed, ordered/indexed, mutable

# Empty list
# nums = [] # list()
# print(nums, type(nums))

# nums = [1, 2, 3, 2] # duplicates are allowed
# print(nums)

# indexed
names = ['abhi', 'thomas', 'tej', 'swetha', 'tej']
# print(names[0], names[1], names[2], names[3], names[4], names[5])
# print(names[-1], names[-2], names[-3], names[-4])

# print(id(names[0]))
names[0] = 'amit' # mutable
# print(id(names[0]))
print(names)

4567846704
4567850608
['amit', 'thomas', 'tej', 'swetha', 'tej']

In [22]:
# nums = [10, 20, 30]
# print(nums, id(nums))

# print(f'{nums[0]} -> {id(nums[0])}')
# print(f'{nums[1]} -> {id(nums[1])}')
# print(f'{nums[2]} -> {id(nums[2])}')

[10, 20, 30] 4567859904
10 -> 4341949632
20 -> 4341949952
30 -> 4341950272

In [28]:
# num = 10
# copy = num
# print(num, copy)
# copy = 20
# print(num, copy)

nums = [10, 20]
copy = nums.copy()
print(nums, copy)
copy[0] = 100
print(nums, copy)

[10, 20] [10, 20]
[10, 20] [100, 20]

In [42]:
# methods 
players = ['virat', 'sachin', 'dhoni', 'gambir', 'yuvi', 'virat']
# print(players)

# pop -> removes last data by default
# removed_player = players.pop()
# print(players, removed_player)
# players.pop()
# print(players)

# index
# index_tobe_removed = players.index('dhoni')
# # print(index_tobe_removed)
# players.pop(index_tobe_removed)
# print(players)

# remove
# players.remove('dhoni')
# print(players)

# clear -> removes all the data
# players.clear()
# print(players)

[]

In [54]:
players = ['virat', 'sachin', 'dhoni', 'gambir', 'yuvi']

# append -> always add data at last position
# players.append('raina')
# print(players)

# insert(position, value)
# players.insert(0, 'gill')
# players.insert(50, 'hardik')
# players.insert(-10, 'hardik')
print(players)

['hardik', 'virat', 'sachin', 'dhoni', 'gambir', 'yuvi']

In [57]:
# reversal
nums = [1, 2, 3, 4]
# nums.reverse() # it affects my original data -> inplace

# reversed_nums =  nums[::-1] # returns data in new memory
# print(nums, reversed_nums)

[1, 2, 3, 4] [4, 3, 2, 1]

In [66]:
# sort
# nums = [10, 40, 78, 85, 25, 7, 19, -8]
# nums.sort() # ascending order
# nums.sort(reverse=False) # ascending order

# nums.sort(reverse=True) # descending order
# print(nums)

names = ['bumrah', 'Shami', 'Zaheer', 'bajji']
# names.sort(key=str.lower) # str.upper
names.sort(key=str.lower, reverse=True)
print(names)

['Zaheer', 'Shami', 'bumrah', 'bajji']

In [69]:
# count
names = ['ram', 'sam', 'sam']
print(names.count('sam'))
print(names.count('Sam')) # case sensitive

2
0

In [75]:
# Palindrome -> RACECAR, NITIN, MADAM, MAM, DAD, MOM......

# shortest palindrome
name = 'ZOHO'
name = list(name)
# OHHO

start = 0
end = len(name) - 1

while(start <= end):
    if(name[start] > name[end]):
        name[start] = name[end]
    else:
        name[end] = name[start]
        
    start += 1
    end -= 1
print(''.join(name))

OHHO

In [86]:
# tuple -> (), duplicates are allowed, indexed, immutable

# only read-only ops are supported

# empty tuple
# nums = () # tuple()
# print(nums, type(nums))

# nums = (1, 2, 3, 4, 2) # duplicates are allowed
# print(nums)
# print(nums[0], nums[1], nums[2])
# print(nums[-1], nums[-2], nums[-3]) # indexed


# nums = (1, 2, 3)
# nums[0] = 10 # typeError -> immutability

In [90]:
# count
# nums = (1, 2, 3, 4, 3, 3, 3, 'vasi')
# print(nums.count(3))
# print(len(nums))

4

In [97]:
# Set -> {}, duplicates are NOT allowed, NOT indexed, mutable

# empty set
# nums = set()
# print(nums, type(nums))


nums = {10, 20, 20, 30, 40, 30}
# print(nums) # duplicates are not allowed
print(nums[0]) # not indexed -> unordered

TypeError: 'set' object is not subscriptable

In [105]:
# add
# nums = {1, 2, 3}
# nums.add(4)
# nums.add(2) # no duplicates
# print(nums)

# remove # not recommended
# nums = {1, 2, 3, 4, 'vasi', 10.5}
# nums.remove(3)
# nums.remove(30) # KeyError
# print(nums)

# discard -> recommended
nums = {1, 2, 3, 4, 'vasi', 10.5}
# nums.discard(3)
nums.discard(30)
print(nums)

{'vasi', 1, 2, 3, 4, 10.5}

In [112]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# print(set1.union(set2))
# print(set2.union(set1))
# print(set1.intersection(set2))
# print(set2.intersection(set1))
# print(set1.difference(set2))
# print(set2.difference(set1))

# A = {1, 2, 3, 4, 5}
# B = {2, 3}
# print(B.issubset(A))
# print(A.issuperset(B))

True
True

In [129]:
# dictionary -> key value pairs -> {}

# empty dict
# data = {}  # dict() 
# print(data, type(data))

person = {
    "name": "rajini",
    "age": 72,
}

# print(person, type(person))
# print(person['name'], person['age'], person['place']) # not recommended
# recommended -> get(key, 'default value')
# print(person.get('name'), person.get('age'), person.get('place', 'India'))

rajini 72 India

In [131]:
person = {
    "name": "rajini",
    "age": 72,
}
 
person['age'] = 75 # modification
person['place'] = 'chennai' # create a new entry
print(person)

{'name': 'rajini', 'age': 75, 'place': 'chennai'}

In [145]:
person = {
    "name": "rajini",
    "age": 72,
    "daughter": {
        "name": "Aishwarya",
        "husband": "Dhanush"
    },
}

# print(person)
# print(person.get("daughter").get("husband"))

cars = ['lambo', 'bmw', 'mercedez']
person['cars'] = cars

rajini_cars = person.get('cars')
rajini_cars.append('honda')
# print(person)
# print(cars)

person['movie'] = {
    'name': 'jailer',
    'director': 'nelson'
}

# print(person)

data = []
data.append(person)
data.append(person)
print(data)

[{'name': 'rajini', 'age': 72, 'daughter': {'name': 'Aishwarya', 'husband': 'Dhanush'}, 'cars': ['lambo', 'bmw', 'mercedez', 'honda'], 'movie': {'name': 'jailer', 'director': 'nelson'}}]