In [20]:
# bitwise operators -> &, |, ^, <<, >>, ~

# & -> Bitwise AND
# print(13 & 7)
# print(21 & 18)

# | -> Bitwise OR
# print(13 | 7)
# print(21 | 18)

# ^ -> Bitwise XOR
# print(13 ^ 7)

# << -> left shift 
# print(3 << 1)
# print(3 << 2)
# print(3 << 3) # left * 2^right
# print(140 << 7)

# >> -> right shift
# print(8 >> 1)
# print(8 >> 2)
# print(8 >> 3)
# print(8 >> 4) # left // 2^right
# print(127 >> 3)


# ~ -> negation -> changes first bit
# print(~0)
# print(~10)
# print(~-10)

In [37]:
# strings -> '', "", """ """ or ''' '''
# print('vasi')
# print("vasi")

# Sachin tendulkar is a 'good' cricketer
# print("Sachin tendulkar is a 'good' cricketer")

# Sachin tendulkar is a "good" cricketer
# print('Sachin tendulkar is a "good" cricketer')

# 'Sachin tendulkar' is a "good" cricketer
# print(""" 'Sachin tendulkar' is a "good" cricketer """)
# print(''' 'Sachin tendulkar' is a "good" cricketer ''')


# multilines -> """ """ or ''' '''
# SELECT * FROM CARS
# WHERE mileage > 20
print("""
SELECT * FROM CARS 
WHERE mileage > 20
""")

SELECT * FROM CARS
WHERE mileage > 20

In [56]:
first_name = 'Vasanthkumar'
last_name = 'Vinayagam'

# Vasanthkumar Vinayagam is a good boy
# print(first_name + " " + last_name + " is a good boy")

# formatted strings -> f
# print(f'{first_name} {last_name} is a good boy')

In [62]:
# user input
name: str = input("Name: ")
age: int = input("Age: ")
print('name: ', name)
print('age: ', age)

Age: dhskjas
name:  10
age:  dhskjas

In [67]:
num1 = input('Enter Num1: ')
num2 = input('Enter Num2: ')

# by default input -> str
print('before', type(num1), type(num2))

num1 = int(num1)
num2 = int(num2)
print('after', type(num1), type(num2))

print(num1 + num2)

Enter Num1: 10
Enter Num2: 15
before <class 'str'> <class 'str'>
after <class 'int'> <class 'int'>
25

In [70]:
# num1 = int(input('Enter Num1: '))
# num2 = int(input('Enter Num2: '))

# print(type(num1), type(num2))

# print(num1 + num2)

In [73]:
# length of string
game = 'spider man'
print(len(game)) # 10 chars

10

In [89]:
name = 'SAM'
print(name, id(name))

# index -> starts from 0
# print(name[0], id(name[0]))
# print(name[1], id(name[1]))
# print(name[2], id(name[2]))
# print(name[3]) # Index Error

# print(name[-1], name[-2], name[-3], name[-4])

SAM 4408274416

In [102]:
# Methods of strings
# name = 'VasiKumAr'
# print(name.upper())
# print(name.lower())
# print(name.capitalize())

# strip
game = '          god of war      '
# print(game, len(game))
# print(game.strip(), len(game.strip())) # by default -> " "
# print(game.lstrip(), len(game.lstrip()))
# print(game.rstrip(), len(game.rstrip()))

url = 'https://google.com/'
print(url.strip('/'))

https://google.

In [108]:
# split -> str to list
name = 'Vasanth kumar'
# print(name.split()) # by default -> " "
print(name.split('a'))

['V', 's', 'nth kum', 'r']

In [1]:
# Strings are immutable

# name = 'SAM'
# name[0] = 'J' 

# replace
name = 'sam is a boys'
# print(name.replace('s', 'j', 2)) # it creates new memory # limit
# print(name)

TypeError: 'str' object does not support item assignment

In [128]:
name = 'ddsadasdas'
print(name.count('d'))

4

In [4]:
# SLICING

# name = 'RAMESH'
# name = ['R', 'A', 'M', 'E', 'S', 'H']
# name = ('R', 'A', 'M', 'E', 'S', 'H')

# print(name)
# print(name[0], name[1], name[2], name[3], name[4], name[5])
# print(name[-1], name[-2], name[-3], name[-4], name[-5], name[-6])

# (start=0/-1, end+1, step=1)

# If step is +ve, default start = 0
# If step is -ve, default start = -1

# print(name[1:4])
# print(name[2:5])
# print(name[1:10])
# print(name[2:])
# print(name[:4])
# print(name[5:2]) # empty string
# print(name[0:5:2])
# print(name[0:4:2])

# print(name[-5:-2]) # name[1:4]
# print(name[-2:-5]) # empty 
# print(name[-2:-5:-1])
# print(name[1:-1]) # name[1:5]

# print(name[:-4])
# print(name[:-4:-1])

# print(name[2:-4]) # empty
# print(name[2:-4:-1]) # empty

# print(name[::1])
# print(name[::-1]) # reverse [::-1]

TypeError: 'set' object is not subscriptable

In [161]:
# name1 = 'aakash'
# name2 = 'abhijit'
# name3 = 'ahamed'

# COLLECTION -> collection of same or different datatype

students_name = ['Aakash', 'Abhijit', 'Ahamed', 10, 10.5]
print(students_name)

['Aakash', 'Abhijit', 'Ahamed', 10, 10.5]

In [ ]:
# Pascal Case -> Person, FirstNameOfPerson -> class
# camel case -> person, firstName, lastName, firstNameOfPerson -> Not recommended
# snake case -> person, first_name, last_name, first_name_of_person -> variables, functions

In [163]:
# conditional statements -> if, if else, elif

# greatest of 2 nums
num1 = 100
num2 = 20

# indentation
# if(num1 > num2):
#     print('num1 is greater')
# else:
#     print('num2 is greater')

num1 is greater

In [171]:
# greatest of 3 nums
num1 = 1000
num2 = 200
num3 = 30

# nested if blocks

# if(num1 > num2):
#     if(num1 > num3):
#         print('num1 is greater')
#     else:
#         print('num3 is greater')
# else:
#     if(num2 > num3):
#         print('num2 is greater')
#     else:
#         print('num3 is greater')


if(num1 > num2 and num1 > num3):
    print('num1 is greater')
elif(num2 > num1 and num2 > num3):
    print('num2 is greater')
else:
    print('num3 is greater')

num1 is greater

In [174]:
# ternary and switch case -> not supported in python
# is_valid = 10 > 5 ? 'True' : 'False'