List->[], duplicates are allowed, Ordered/ Indexed, mutable

In [3]:
#emplty list
num = []
print(num, type(num))

#duplicates
nums = [1,2,2,3,3]
print(nums)

[] <class 'list'>
[1, 2, 2, 3, 3]

In [5]:
nums = [1,2,3,4]
print(f'{nums[0]} -> {id(nums[0])}')
print(f'{nums[1]} -> {id(nums[1])}')
print(f'{nums[2]} -> {id(nums[2])}')

1 -> 140737446843176
2 -> 140737446843208
3 -> 140737446843240

In [8]:
num = 10
copy = num
print(num,copy)
copy = 20
print(num, copy)

num = [10,20]
copy = num.copy()
print(num, copy)
copy[0] =  100
print(num, copy)

10 10
10 20
[10, 20] [10, 20]
[10, 20] [100, 20]

In [25]:
players = ['sachin', 'virat', 'dhoni', 'gambir', 'yuvi']
print(players)
removed_player1 = players.pop()
print(players, removed_player1)
players.remove('dhoni')
print(players)
players.insert(0,'gill')
players.insert(50,'K L Raul')
print(players)

players.reverse()
print(players)
players.sort()
print(players)

['sachin', 'virat', 'dhoni', 'gambir', 'yuvi']
['sachin', 'virat', 'dhoni', 'gambir'] yuvi
['sachin', 'virat', 'gambir']
['gill', 'sachin', 'virat', 'gambir', 'K L Raul']
['K L Raul', 'gambir', 'virat', 'sachin', 'gill']
['K L Raul', 'gambir', 'gill', 'sachin', 'virat']

In [31]:
#Reverse
players1 = ['Sachin', 'virat', 'Dhoni', 'gambir', 'yuvi']
players1.reverse()
print(players1)
players1.sort(key=str.lower, reverse=False)
print(players1)

['yuvi', 'gambir', 'Dhoni', 'virat', 'Sachin']
['Dhoni', 'gambir', 'Sachin', 'virat', 'yuvi']

In [1]:
nums = (1,2,3,4,5,1)
print(nums)
nums[0] = 10

(1, 2, 3, 4, 5, 1)

TypeError: 'tuple' object does not support item assignment