In [ ]:
import pandas as pd
import numpy as np

In [ ]:
empty_series = pd.Series()
print(empty_series)

filled_series = pd.Series([1,2,3,4,15])
# print(filled_series)

filled_series_index_cust = pd.Series([1,2,3,4,15], index=['a', 'b', 'c', 'd', 'e'])
print(filled_series_index_cust)

In [ ]:
d =  {'Rudra': 38, 'Priyanka': 36, 'Tajagna': 9}
ser_from_dict = pd.Series(d)
print(ser_from_dict)

In [ ]:
empty_df = pd.DataFrame()
empty_df

data = [[1,2,3,4,5],[6,7,8,9,10], [11,12,13,14,15]]
filled_df = pd.DataFrame(data, columns = ['a', 'b', 'c', 'd', 'e'])
filled_df

In [21]:
dict1 = {'Names': ['Rudra', 'Pal', 'Subha'], 'City': ['Hyderabad','Kolkata', 'Kolkata'], 'Married': [True,True,True]}
pd.DataFrame(dict1)

   Names       City  Married
0  Rudra  Hyderabad     True
1    Pal    Kolkata     True
2  Subha    Kolkata     True